# This is Git's per-user configuration file.
[user]
	name = Rafael Kamimura
	email = rafael.kamimura@gmail.com
# Please adapt and uncomment the following lines:
#	name = Rafael Kamimura
#	email = rafael.kamimura@gmail.com
